{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
<div class="col-md-8 bg-base col-lg-8 col-xl-9">

    <div class="ribbon ribbon-highlight">
        <ol class="breadcrumb ribbon-inner">
            <li><a href="{{ path('BloggerBlogBundle_homepage') }}">Home</a></li>
            <li class="active" title="{{ blog.title }}">{{ blog.title(120) }}...</li>
        </ol>
    </div>

    <header class="page-header">

        <div class="page-meta pull-right hidden-xs">
            <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug })
        }}#comments" >
                <span class="comments-count-balloon bg-primary">{{ blog.comments|length }}<em>Comments</em></span>
            </a>
        </div>

        <h2 class="page-title">
            {{ blog.title }}
        </h2>

    </header>

    <article class="entry style-single type-post">

        <figure class="entry-thumbnail">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="{{ asset(['images/', blog.image]|join) }}" data-src="{{ asset(['images/', blog.image]|join) }}" data-src-retina="{{ asset(['images/', blog.image]|join) }}" width="680" height="452" alt="{{ blog.title }}">

            <!--fallback for no javascript browsers-->
            <noscript>
                <img src="{{ asset(['images/', blog.image]|join) }}" alt="{{ blog.title }}">
            </noscript>

        </figure>

        <div class="entry-meta indented">
            <!-- <span class="author">by <a href="blog.html">John Doe</a></span> -->
            <span class="entry-date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></span>
            <!-- <span class="category">In <a href="blog.html">Social Media</a></span> -->
        </div>

        <div class="entry-content indented">

           <p>{{ blog.blog }}</p>

        </div>

    </article>

   {% block afterEntry %}{% endblock %}
   {% include 'BloggerBlogBundle:Blog:comments.html.twig' with { 'comments': comments } %}
                                        
</div><!--/.col-md-8.col-lg-8.col-xl-9-->
    
{% endblock %}